{% extends 'base.html' %}

{% block title %}Lista autorów{% endblock %}

{% block content %}

{% if user.is_authenticated and user.username == 'admin' %}
    <h3><a href="/authors/create_author/"><button class="reserved" style="vertical-align:middle">New Author</button></a></h3>
{% endif %}

    {% if all_authors %}

    <h3 align="center"><b>Lista wszystkich autorów w bazie danych biblioteki</b></h3>

        <table class="table_book_index">

            <tr>
                <td><b>Imię</b></td>
                <td><b>Nazwisko</b></td>
                <td><b>Rok urodzenia</b></td>
                <td><b>Szczegóły</b></td>
                <td><b>Lista książek</b></td>
            </tr>

            {% for author in all_authors %}

            <tr>
                <td>{{ author.name }}</td>
                <td>{{ author.surname }}</td>
                <td>{{ author.birthYear }}</td>
                <td><button class="reserved" style="vertical-align:middle; width: 150px">
                    <a href="/authors/{{ author.id }}/">Więcej informacji</a></button></td>
                <td><button class="reserved" style="vertical-align:middle; width: 100px">
                    <a href="/books/authors_books/{{ author.id }}">Książki</a></button></td>
            </tr>

            {% endfor %}

        </table>

    {% else %}
        <h3>No authors exist in the database</h3>
    {% endif %}

{% endblock %}