<div id="navBar">
    <a href="/">MainPage</a>| <a href="/books">Books</a>| <a href="/authors">Authors</a>| <a href="/publishers">Publishers</a>| <a href="/users">Users</a>
</div>

{% if all_authors %}
    <h3>List of all authors added into the database</h3>
    <ul>
        {% for author in all_authors %}
        <li><a href="/authors/{{author.id}}/">{{ author.name }} {{ author.surname }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h3>No authors exist in the database</h3>
{% endif %}