{% extends 'base.html' %}

{% block title %}Authors{% endblock %}

{% block content %}

{% if user.is_authenticated and user.username == 'admin' %}
    <h3><a href="/authors/create_author/"><button class="reserved" style="vertical-align:middle">New Author</button></a></h3>
{% endif %}

    {% if all_authors %}
        <h3>List of all authors added into the database</h3>
        <table class="table_book_index">
            {% for author in all_authors %}
            <tr>
                <td><a href="/authors/{{author.id}}/">{{ author.name }} {{ author.surname }}</a></td>
                <td><button class="reserved" style="vertical-align:middle; width: 150px"><a href="/authors/{{author.id}}/">
                    Show information</a></button></td>
                <td><button class="reserved" style="vertical-align:middle; width: 100px">List of books</button></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>No authors exist in the database</h3>
    {% endif %}

{% endblock %}