{% extends 'base.html' %}

{% block title %}Main Page{% endblock %}

{% block content %}
<table style="width: 100%">
    <tr>
        <td class="mainPage">
            <div class="searchEngineBar">
                <a href="#" onclick="books()">books</a>
                <a href="#" onclick="authors()">authors</a>
                <a href="#" onclick="publishers()">publishers</a>
            </div>
            {% if error %}
            <a>Please, submit a search term.</a>
            {% endif %}
            <form action="/books/search" method="get">
                <table style="height:125px;">
                    <td style="width: 400px">
                        <input type="text" placeholder="Search your books here..." name="q">
                    </td>
                    <td style="width: 100px">
                        <center><input type="image"
                                       src="/static/images/searchButton.png"
                                       value="Search" style="width: 35px;"></center>
                    </td>
                </table>
            </form>
        </td>
        <td class="mainPage">
            <div class="container">
                <div class="slideshow_wrapper">
                    <div class="slideshow">
                        <div class="slide_one slide">
                            <img src="/static/images/lib1.jpg">
                        </div>
                        <div class="slide_two slide">
                            <img src="/static/images/lib2.jpg">
                        </div>
                        <div class="slide_three slide">
                            <img src=/static/images/lib3.jpg"">
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td class="mainPage" id="calendarTd" rowspan="2">
            <div class="cal">
                <div class="calendar-wrapper">
                    <input type="image" src="/static/images/previousButton.png" id="btnPrev" width="25px">
                    <input type="image" src="/static/images/nextButton.png" id="btnNext" width="25px">
                    <div id="divCal"></div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="mainPage">
            <iframe width="470px" height="275px"
                    src="https://www.youtube.com/embed/qIcTM8WXFjk">
            </iframe>
        </td>
        <td class="mainPage">
            <center>Newsy</center>
            <ul>
                <li>Pierwszy news</li>
                <li>Drugi news</li>
                <li>Trzeci news</li>
                <li>Czwarty news</li>
            </ul>
        </td>
    </tr>
</table>
{% endblock %}