<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    li {
        float: left;
    }
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a:hover{
        background-color: #111;
    }
</style>
<div id="navBar">
    <ul>
        <li><a href="/">Main Page</a></li>
        <li><a href="/books">Books</a></li>
        <li><a href="/authors">Authors</a></li>
        <li><a href="/publishers">Publishers</a></li>
        <li><a href="/users">Users</a></li>
        <li style="float:right"><a href="#login">Login & Register</a></li>
    </ul>
</div>

{% if all_users %}
    <h3>List of all users added into the database</h3>
    <ul>
        {% for user in all_users %}
        <li><a href="/users/{{user.id}}/">{{ user.name }} {{ user.surname }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h3>No users exist in the database</h3>
{% endif %}