body {
    font-family: Arial, Helvetica, sans-serif;
}
form {
    border: 3px solid #00674e;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Styles of main menu */
.navBar ul {
    list-style-type: none;
    margin: -4px 0 0 0;
    padding: 0;
    overflow: hidden;
    background-color: #00674e;
}
.navBar li {
    float: left;
}
.navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px 16px 16px;
    text-decoration: none;
}
.navBar li a:hover{
    background-color: #00A17B;
}

.navBar a{
    background-color: #00674e;
    display: block;
}
li.dropdown {
    display: inline-block;
}
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00674e;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: auto;
}

.dropdown-content a {
    color: #515151;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #515151;

}

.dropdown:hover .dropdown-content {
    display: block;
}
/*---------------------------------*/
/* Search Engine on main page */

.navBar2 ul {
    list-style-type: none;
    margin: -10px 0 0 0;
    padding: 0;
    overflow: hidden;
    background-color: #00674e;
    border-radius: 5px 5px 0 0;
}
.navBar2 li {
    float: left;
}
.navBar2 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px 16px 16px;
    text-decoration: none;
}
.navBar2 li a:hover{
    background-color: #00A17B;
}

.navBar2 a{
    background-color: #00674e;
    display: block;
    border-radius: 5px;
}
/*---------------------------------*/


/* Slider styles! */
.container {
    background:#000;
    width:500px;
    margin: 0 auto;
    padding: 10px 10px 0 10px;
}

.slideshow_wrapper {
    width:500px;
    height:280px;
    overflow: hidden;
}

.slideshow {
    width:1500px;
    height:280px;
    margin: 0 0 0 -1000px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration:10s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:alternate;
    -webkit-animation-play-state: running;
}

.slide {
    width:500px;
    height: 270px;
    position:relative;
    float:left;
    overflow:hidden;
}

.slideshow img{
    width:500px; height:270px;
}

@-webkit-keyframes slide_animation {
    0% {left:0px;}
    10% {left:500px;}
    20% {left:500px;}
    30% {left:500px;}
    40% {left:500px;}
    50% {left:500px;}
    60% {left:500px;}
    70% {left:1000px;}
    80% {left:1000px;}
    90% {left:1000px;}
    100% {left:1000px;}
}


/* Footer style */
.footer {
    background-color: #00674e;
    width: 100%;
    display: block;
    color: white;
    padding: 10px 0 10px 0;
    text-align: center;
}
/*------------------------------------*/
/* Reserved button in book index */
.reserved {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer;
}

.table_book_index {
    border-collapse: collapse;
    width: 100%;
}

.table_book_index th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table_book_index tr:hover {
    background-color:#f5f5f5;
}
/*------------------------------------*/

/* Calendar */

*, *:before, *:after {

}
.group {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
img {
    max-width:100%;
    height:auto;
    vertical-align:baseline;
}
.max(@maxWidth; @rules) {
    @media only screen and (max-width: @maxWidth) {
        @rules();
    }
}
.min(@minWidth; @rules) {
    @media only screen and (min-width: @minWidth) {
        @rules();
    }
}
.calendar-wrapper {
    width:360px;
    margin:3em auto;
    padding:2em;
    border:1px solid @calendar-border;
    border-radius:5px;
    background-color: #00674e;
}
table {
    clear:both;
    width:100%;
    border:1px solid @calendar-border;
    border-radius:3px;
    border-collapse:collapse;
    color:#fff;
}
td {
    height:48px;
    text-align:center;
    vertical-align:middle;
    border-right:1px solid @calendar-border;
    border-top:1px solid @calendar-border;
    width:100% / 7;
}
td.not-current {
    color:@calendar-fade-color;;
}
td.normal {
}
td.today {
    font-weight:700;
    color:@calendar-standout;
    font-size:1.5em;
}
th td {
    border:none;
    color:@calendar-standout;
    text-transform:uppercase;
    font-size:1.5em;
}
#btnPrev {
    float:left;
    margin-bottom:20px;
    &:before {
        content:'\f104';
        font-family:FontAwesome;
        padding-right:4px;
    }
}
#btnNext {
    float:right;
    margin-bottom:20px;
    &:after {
        content:'\f105';
        font-family:FontAwesome;
        padding-left:4px;
    }
}
#btnPrev, #btnNext {
    background:transparent;
    border:none;
    outline:none;
    font-size:1em;
    color:red;
    cursor:pointer;
    font-family:"Roboto Condensed", sans-serif;
    text-transform:uppercase;
    transition:all 0.3s ease;
    &:hover {
        color:@calendar-standout;
        font-weight:bold;
    }
}
/*-----------------------------------*/