<style>
    .navBar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    .navBar li {
        float: left;
    }
    .navBar li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .navBar li a:hover{
        background-color: #111;
    }
</style>
<div class="navBar">
    <ul>
        <li><a href="/">Main Page</a></li>
        <li><a href="/books">Books</a></li>
        <li><a href="/authors">Authors</a></li>
        <li><a href="/publishers">Publishers</a></li>
        <li><a href="/users">Users</a></li>
        <li style="float:right"><a href="#login">Login & Register</a></li>
    </ul>
</div>

{{ publisher }}