{% extends 'base.html' %}

{% block title %}Authors{% endblock %}

{% block content %}

        {% if user.is_authenticated and user.username == 'admin' %}
            <h3><a href="/publishers/create_publisher/"><button class="reserved" style="vertical-align:middle">New Publisher</button></a></h3>
        {% endif %}

    {% if all_publishers %}
    <h3>List of all publishers added into the database</h3>
        <table class="table_book_index">
            {% for publisher in all_publishers %}
            <tr>
                <td><a href="/publishers/{{publisher.id}}/">{{ publisher.name }}</a></td>
                <td><button class="reserved" style="vertical-align:middle; width: 150px"><a href="/publisher/{{publisher.id}}/">
                    Show information</a></button></td>
                <td><button class="reserved" style="vertical-align:middle; width: 100px">List of books</button></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
    <h3>No publishers exist in the database</h3>
    {% endif %}

{% endblock %}