{% extends 'base.html' %}

{% block title %}Ask{% endblock %}

{% block content %}

<div class="content" >

    <p></p>
    <div class="container">
        <form name="ask" action="http://127.0.0.1:8000/menu/ask" method="get">

            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">


            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

             <input type="submit" value="Submit">

        </form>
    </div>
    <p></p>
</div>

{% endblock %}