{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}

<div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even"><p><strong>PHONES: </strong></p>
<blockquote>
	<p>Secretary’s Office +48 22 222 22 22 fax +48 22 222 22 22</p>
	<p>Reference Department +48 22 222 22 22</p>
	<p>Special Collections Department +48 22 222 22 22</p>
	<p>Interlibrary Loans Department +48 22 222 22 22</p>
	<p>Lending Room +48 22 222 22 22</p>
	<p>Catalogue +48 22 222 22 22</p>
</blockquote>
<p> </p>
<p><strong>E-MAIL ADDRESSES: </strong></p>
<blockquote>
	<p>Secretary’s Office   :              mail@agh.edu.pl</p>
	<p>Reference Department  :               mail@agh.edu.pl</p>
	<p>Special Collections Department  :               mail@agh.edu.pl</p>
	<p>Circulation Department  :               mail@agh.edu.pl</p>
	<p>Interlibrary Loans Department  :               mail@agh.edu.pl</p>
</blockquote>
</div></div></div>  </div>

{% endblock %}