{% extends 'base.html' %}

{% block title %}History{% endblock %}

{% block content %}

<div class="content">

    <h2 class="pane-title"> History of the Library    </h2>

  <div class="content">
      <p>The Main Library of the AGH University of Science and Technology is the largest technical library in Kraków and one of the biggest in Poland. Its history is connected with Polish history and the stages of the development of the University itself. On October 20-th 1919, Marshal Józef Piłsudski, the leader of the country, presided over the grand inauguration of the then University of Mining. First, the Mining Faculty was established. After the first two years of its operation (1921), another faculty was created: the Metallurgy Faculty. By 1939, about 800 engineers of mining and metallurgy had graduated from the University.</p>
    <p>The Library came into being in the academic year of 1921and 1922 and it was set up by the Senate Library Comission. In the beginning, it was located in the building at 18 Loretańska Street and then it was moved to 7 Smoleńsk Street. In 1929, the collection was transferred to a newly erected building at 30 Mickiewicz Avenue.</p>
    <p>The collection was begun thanks to gifts from private donors, mainly AGH professors and Polish and foreign institutions, including Maria Skłodowska-Curie, who, acting in the Intellectual Co-operation Committee for the League of Nations, organised an exchange of French journals in return for the scientific publications of the University staff. Thus, the collection was enriched with the journal Revue de Metallurgie, to which the Library has been subscribing till today.</p>
    <p>In 1938, the Library contained over 17,000 volumes, including 5,000 volumes of journals.</p>
    <p>During World War II, the books were deposited in the Jagiellonian Library. In spite of the prohibition imposed by the German authorities who ruled occupied Poland, the books were secretly lent to the University students and employees, as the University did not suspend its activity. The professors delivered secret lectures and, as a result, 278 examinations were taken, 16 dissertations were written and 1 doctoral thesis was completed (it was, however, defended only after the end of the war).</p>
    <p>After the war, the Library collection was returned to the main building of the University that had been restored after the war damage (following the war turmoil, the number of books was reduced by about 25 %).</p>
    <p>In 1949, the University was renamed to the University of Mining and Metallurgy. During the same year, Władysław Piasecki became the manager (and then the director) of the Library. He held his post until 1972. Thanks to his efforts, a new, separate building was erected and it was formally opened on May 3rd, 1966. In 1987, the building was named after Władysław Piasecki.</p>
    <p>After the Library was moved to its new location, it began to develop dynamically. As new courses were introduced at the University, the number of books in the collection and the subject areas they dealt with, increased too.</p>
    <p>The 1990s were connected with the development of computerisation. Computers were employed in almost all of the Library’s tasks, ranging from acquisitions to cataloguing, OPAC, circulation and the organisation of access to global electronic resources.</p>
    <p>The librarians at the Main Library are involved in many local (mainly within the Kraków Library Group) and Polish undertakings (inter alia, those initiated by the Executive Board of the Conference of University Libraries Directors). Additionally, they participate in the creation of the National Union Catalogue NUKAT and, further, they develop standards for the operation of scientific libraries in Poland and, finally, they are also involved in activities connected with the digitalisation of the collection.</p>
    <p>Apart from the Main Library, there are also 28 libraries of University units.</p>
    <p> </p>
    </div>


   <!-- moved to outside of the node div -->

</div>

{% endblock %}