{% extends 'base.html' %}

{% block title %}How_to_use{% endblock %}

{% block content %}


<div class="content">

    <h2 class="pane-title"> Borrowing Services Overview    </h2>

    <h3 class="pane-title"> Your Library Account    </h3>

    <p>Setup and Use My Account – Step-by-step guide to setting up your library account so you can renew items, make and view requests, or check for fines or fees.</p>

    <p>Library Cards</p>
    <p>Proxy Authorization – University of Illinois faculty members, graduate students, and other library borrowers with extenuating circumstances may authorize another library borrower to check out library materials for them.</p>
    <p>Confidentiality Policy</p>


    <h3 class="pane-title"> Borrowing Basics    </h3>

    <p>Borrowing Privileges – Bookstacks access, loan periods, renewal limits, and fines and fees.</p>
    <p>Return – Tips for returning material, and lists outside bookdrop locations.</p>
    <p>Course Reserves – Find physical items placed on reserves specifically for your class.</p>

    <p> </p>
    </div>


   <!-- moved to outside of the node div -->

</div>

{% endblock %}