{% extends 'base.html' %}

{% block title %}Opening_hours{% endblock %}

{% block content %}

<div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even"><p style="text-align: center;"><strong><span style="color:#b000000;"><span> </span></span></strong></p>
<p> </p>
<table border="0" cellpadding="3" cellspacing="3" style="width: 940px"><thead><tr><th scope="col" style="text-align: left; color:#b000000 "> </th>
			<th scope="col" style="text-align: left; ">Where</th>
			<th scope="col" style="text-align: left;">Phone</th>
			<th scope="col" style="text-align: left;">Days</th>
			<th scope="col" style="text-align: left;">Open</th>
		</tr></thead><tbody><tr><td> </td>
			<td> </td>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr><tr><td>Lending Room and Open Stacks Zone</td>
			<td>ground floor</td>
			<td>+48 12 617 32 12 </td>
			<td>Mon.-Fri.</td>
			<td>9.00 - 18.00</td>
		</tr><tr><td> </td>
			<td> </td>
			<td> </td>
			<td>Sat.</td>
			<td>9.00 - 15.00</td>
		</tr><tr><td> </td>
			<td> </td>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr><tr><td>Interlibrary Loans</td>
			<td>
				<p>ground floor</p>
				<p>room 4</p>
			</td>
			<td>+48 12 222 22 22 </td>
			<td>Mon.-Fri.</td>
			<td>11.00 - 14.00</td>
		</tr><tr><td> </td>
			<td> </td>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr><tr><td>Main Reading Room</td>
			<td>1st floor, room 123 </td>
			<td>+48 12 222 22 22 </td>
			<td>Mon.-Thu.</td>
			<td>8.00 - 19.45</td>
		</tr><tr><td> </td>
			<td> </td>
			<td> </td>
			<td>Fri.</td>
			<td>8.00 - 18.00</td>
		</tr><tr><td> </td>
			<td> </td>
			<td> </td>
			<td>Sat.</td>
			<td>8.00 - 15.00</td>
		</tr><tr><td> </td>
			<td> </td>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr><tr><td>Catalogue</td>
			<td>1st floor</td>
			<td>+48 12 222 22 22 </td>
			<td>Mon.-Thu.</td>
			<td>8.00 - 19.45</td>
		</tr><tr><td> </td>
			<td> </td>
			<td> </td>
			<td>Fri.</td>
			<td>8.00 - 18.00</td>
		</tr><tr><td> </td>
			<td> </td>
			<td> </td>
			<td>Sat.</td>
			<td>8.00 - 15.00</td>
		</tr><tr><td> </td>
			<td> </td>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr><tr><td>Self Study Reading Room</td>
			<td>grounf floor room 5</td>
			<td> </td>
			<td>Mon.-Thu.</td>
			<td>8.00 - 19.45</td>
		</tr><tr><td> </td>
			<td> </td>
			<td> </td>
			<td>Fri.</td>
			<td>8.00 - 18.00</td>
		</tr><tr><td> </td>
			<td> </td>
			<td> </td>
			<td>Sat.</td>
			<td>8.00 - 15.00</td>
		</tr><tr><td> </td>
			<td> </td>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr><tr><td>Reference Department Reading Room</td>
			<td>1st floor,  room 121 </td>
			<td>+48 12 222 22 22 </td>
			<td>Mon.-Thu</td>
			<td>8.00 - 19.45</td>
		</tr><tr><td> </td>
			<td> </td>
			<td> </td>
			<td>Fri.</td>
			<td>8.00 - 18.00</td>
		</tr><tr><td> </td>
			<td> </td>
			<td> </td>
			<td>Sat.</td>
			<td>8.00 - 15.00</td>
		</tr><tr><td> </td>
			<td> </td>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr><tr><td>Standards, Patents, and Cartographic Collections Reading Room</td>
			<td>2nd floor.,  room 213 </td>
			<td>+48 12 222 22 22 </td>
			<td>Mon.-Fri.</td>
			<td>8.00 - 18.00</td>
		</tr><tr><td> </td>
			<td> </td>
			<td> </td>
			<td>Sat.</td>
			<td>8.00 - 15.00</td>
		</tr><tr><td> </td>
			<td> </td>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr><tr><td> </td>
			<td> </td>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr></tbody></table><p> </p>
</div></div></div>  </div>

 <!-- added -->

{% endblock %}