{% extends 'base.html' %}

{% block title %}Regulamin{% endblock %}

{% block content %}

<div class="field-item even"><p style="text-align: center;"><strong>INFORMACJA OGÓLNA </strong></p>
<p style="text-align: center;"><strong>ADMINISTRATORA DANYCH OSOBOWYCH </strong></p>
<p>Realizując obowiązek informacyjny na podstawie art. 13 ust. 1 i 2 Rozporządzenia Parlamentu Europejskiego i Rady (UE) nr 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE, zwanego dalej: RODO, informuję, że:</p>
<ol><li>Administratorem Pani/Pana danych osobowych jest Akademia Górniczo-Hutnicza im. Stanisława Staszica w Krakowie, al. A. Mickiewicza 30, 30-059 Kraków;</li>
	<li>dane kontaktowe Inspektora Ochrony Danych Osobowych w Akademii Górniczo-Hutniczej im. Stanisława Staszica: mgr Tomasz Józefko, e-mail: <a href="mailto:iodo@agh.edu.pl" processed="processed">iodo@agh.edu.pl</a>, tel.: 12 617 53 25;</li>
	<li>przedmiotem przetwarzania są następujące dane osobowe: imię i nazwisko, numer PESEL, dane teleadresowe, miejsce zatrudnienia lub nauki;</li>
	<li>Podstawa prawna przetwarzania:
		<ul>a. Ustawa z dnia 20&nbsp;lipca 2018 r. – Prawo o szkolnictwie wyższym i nauce (Dz.U. z 2018&nbsp;r., poz. 1668) – art. 49&nbsp;pkt. 2*;<br>
			b. Statut AGH z dnia 24 czerwca 2015 roku – §4 Załącznika numer 5**;</ul></li>
	<li>odbiorcą Pani/Pana danych osobowych będą pracownicy Biblioteki Głównej AGH oraz bibliotek wydziałowych (gdy wniosek o założenie lub aktywację konta bibliotecznego dotyczy połączonego konta dla Biblioteki Głównej i wydziałowej). Odbiorcą Pani/Pana danych osobowych będą również inni upoważnieni przez AGH pracownicy wykonujący czynności związane z dochodzeniem ewentualnych roszczeń w przypadku nieuregulowania zobowiązań czytelnika w stosunku do Biblioteki Głównej lub wydziałowej;</li>
	<li>Pani/Pana dane osobowe przetwarzane będą przez Administratora w celu identyfikacji i kontaktu (powiadamiania o dostępności zamawianych i rezerwowanych książek, monitowania w przypadku przekroczenia terminu zwrotu książek, kontaktowania się w sprawach związanych z prawidłową realizacją usług bibliotecznych), w celach szkoleniowych, a także w celu ewentualnego dochodzenia roszczeń w przypadku nieuregulowania zobowiązań czytelnika w stosunku do Biblioteki Głównej lub wydziałowej;</li>
	<li>Pani/Pana dane osobowe będą przetwarzane przez okres 6 lat od dnia ostatniej aktywacji konta bibliotecznego lub do momentu zgłoszenia żądania usunięcia danych. Okres ten może zostać wydłużony w przypadku nieuregulowania zobowiązań czytelnika w stosunku do Biblioteki Głównej lub wydziałowej na czas dochodzenia roszczeń;</li>
	<li>posiada Pani/Pan prawo do żądania od Administratora dostępu do swoich danych, prawo ich sprostowania oraz prawo do usunięcia danych;</li>
	<li>ma Pani/Pan prawo wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych gdy uzna Pani/Pan, iż przetwarzanie danych osobowych Pani/Pana dotyczących narusza przepisy RODO;</li>
	<li>Pani/Pana dane osobowe będą częściowo przetwarzane w sposób zautomatyzowany, ale nie będą przetwarzane w formie profilowania;</li>
	<li>podanie przez Panią/Pana danych określonych w pkt. 3 jest dobrowolne, ale jest wymogiem niezbędnym do korzystania z usług Biblioteki Głównej i wydziałowej i nie wymaga odrębnej zgody.</li>
</ol><p>* Art. 49 pkt. 2 Ustawy z dnia 20 lipca 2018 r. – Prawo o szkolnictwie wyższym i nauce: „W uczelni działa system biblioteczno-informacyjny, którego podstawę stanowi biblioteka. Uczelnia może przetwarzać określone w jej statucie dane osobowe osób korzystających z tego systemu”.</p>
<p>** § 4 Załącznik nr 5 Statutu AGH: „W związku z funkcjonowaniem systemu biblioteczno-informacyjnego Uczelnia może przetwarzać dane osobowe osób korzystających z tego systemu, niezbędne do ich identyfikacji i kontaktów z nimi (imiona i nazwisko, dane numeryczno-ewidencyjne, dane teleadresowe, miejsce zatrudnienia, nauki).”</p>
</div>

{% endblock %}