{% extends 'base.html' %}

{% block title %}{{ book }}{% endblock %}

{% block content %}

    Okładka: <img src="{{ book.cover }}" alt="BOOK COVER" height="200" width="140"></br></br>
    Tytuł: {{ book.title }}</br></br>
    Autor: <a href="/authors/{{ book.author.id }}">{{ book.author }}</a></br></br>
    ISBN: {{ book.ISBN }}</br></br>
    Rok wydania: {{ book.year }}</br></br>
    Gatunek: {{ book.genre }}</br></br>
    Wydawca: <a href="/publishers/{{ book.publisher.id }}">{{ book.publisher }}</a></br></br>
    Liczba dostępnych: {{ book.numberOfAvailable }}</br></br>

{% endblock %}