<head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}
</style>
</head>

<div id="navBar">
    <a href="/">MainPage</a>| <a href="/books">Books</a>| <a href="/authors">Authors</a>| <a href="/publishers">Publishers</a>| <a href="/users">Users</a>
</div>

{% load static %}
{% if all_books %}
    <h3>List of all books added into the database</h3>
    <ul>
        {% for book in all_books %}
        <li><a href="/books/{{book.id}}/">{{ book.title }} - {{ book.author }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <center><h1>No books exist in the database</h1></center>
{% endif %}