{% extends 'base.html' %}

{% block title %}Authors{% endblock %}

{% block content %}

    {% if all_books %}
        <h3><a href="/books/create_book/"><button class="reserved" style="vertical-align:middle">New_Book</button></a></h3>
        <h3>List of all books added into the database</h3>
        <table class="table_book_index">
            {% for book in all_books %}
            <tr>
                <td><a href="/books/{{book.id}}/">{{ book.title }}</a></td>
                <td>{{ book.author }} </td>
                <td><button class="reserved" style="vertical-align:middle">Reserve</button></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <center><h1>No books exist in the database</h1></center>
    {% endif %}

{% endblock %}
