{% extends 'base.html' %}

{% block title %}Authors{% endblock %}

{% block content %}
        {% if user.is_authenticated and user.username == 'admin' %}
            <h3><a href="/books/create_book/"><button class="reserved" style="vertical-align:middle">New Book</button></a></h3>
        {% endif %}

    {% if all_books %}

        <h3>List of all books added into the database</h3>
        <table class="table_book_index">
            <tr>
                <td><b>Tytuł</b></td>
                <td><b>Autor</b></td>
                <td><b>Rok wydania</b></td>
                <td><b>Liczba dostępnych</b></td>
                <td><b>Szczegóły</b></td>
                <td><b>Wypożyczanie</b></td>
                <td><b>Edycja</b></td>
                <td><b>Usuwanie</b></td>
            </tr>
            {% for book in all_books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.year }}</td>
                <td>{{ book.numberOfAvailable }}</td>
                <td><button class="reserved" style="vertical-align:middle">
                    <a href="/books/{{ book.id }}">Szczegóły</a></button></td>
                {% if book.numberOfAvailable %}
                <td><button class="reserved" style="vertical-align:middle"><a href="/books/reserve_book/{{ book.id }}">Wypożycz</a></button></td>
                {% else %}
                <td>NIEDOSTĘPNE</td>
                {% endif %}
                <td><button class="reserved" style="vertical-align:middle">
                    <a href="/books/edit_book/{{ book.id }}">Edytuj</a></button></td>
                <td><button class="reserved" style="vertical-align:middle">
                    <a href="/books/delete_book/{{ book.id }}">Usuń</a></button></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <center><h1>No books exist in the database</h1></center>
    {% endif %}

{% endblock %}
