{% extends 'base.html' %}

{% block title %}Wypożyczenia{% endblock %}

{% block content %}

    {% if all_loans %}

        <h3>List of all loans</h3>
        <table class="table_book_index">
            <tr>
                <td><b>Książka</b></td>
                <td><b>Wypożyczający</b></td>
                <td><b>Data wypożyczenia</b></td>
                <td><b>Data planowanego zwrotu</b></td>
                <td><b>Data zwrotu</b></td>
                <td><b>Opłata</b></td>
                <td><b>Zapłacone</b></td>
                <td><b>Szczegóły</b></td>
                <td><b>Zwróć</b></td>
            </tr>

            {% for loan in all_loans %}
            <tr>
                {% if loan.book == None %}
                <td><b>USUNIĘTA</b></td>
                {% else %}
                <td>{{ loan.book }}</td>
                {% endif %}
                <td>{{ loan.user }}</td>
                <td>{{ loan.dateOfLoan }}</td>
                <td>{{ loan.dateOfPlannedReturn }}</td>
                <td>{{ loan.dateOfReturn }}</td>

                {% if loan.charge > 0.0 %}
                <td>{{ loan.charge }}</td>
                {% else %}
                <td>Brak opłat</td>
                {% endif %}

                {% if loan.paid == False %}
                <td>N/d</td>
                {% else %}
                <td>Tak</td>
                {% endif %}

                <td><button class="reserved" style="vertical-align:middle">
                    <a href="/loans/{{ loan.id }}">Szczegóły</a></button></td>
                {% if loan.returned == False and user.is_authenticated and user.username == loan.user.username %}
                <td><button class="reserved" style="vertical-align:middle">
                    <a href="/loans/return_book/{{ loan.id }}">Zwróć</a></button></td>
                {% elif loan.returned == False %}
                <td>Wypożycznona</td>
                {% else %}
                <td>Już zwrócona</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <center><h1>Nie masz wypożyczonych książek</h1></center>
    {% endif %}
{% endblock %}
